In [1]:
import numpy as np
import seaborn as sns
import pandas as pd

In [2]:
df1=pd.read_csv("train.csv")

In [6]:
print(df1.shape,df1.index,df1.columns)

(6368, 15) RangeIndex(start=0, stop=6368, step=1) Index(['Product_id', 'Stall_no', 'instock_date', 'Market_Category',
       'Customer_name', 'Loyalty_customer', 'Product_Category', 'Grade',
       'Demand', 'Discount_avail', 'charges_1', 'charges_2 (%)',
       'Minimum_price', 'Maximum_price', 'Selling_Price'],
      dtype='object')

In [7]:
df1

,Product_id,Stall_no,instock_date,Market_Category,Customer_name,Loyalty_customer,Product_Category,Grade,Demand,Discount_avail,charges_1,charges_2 (%),Minimum_price,Maximum_price,Selling_Price
0,BRAE2NF6JA5GUEXG,37.0,2015-08-22 18:36:12.000,2,Lillyann,Yes,Fashion,1,68,0.0,376.0,11.0,2983.0,4713.0,4185.947700
1,TUNE8SFB6RJN2HSD,38.0,2016-03-27 21:19:13.000,24,Klynn,Yes,Fashion,0,51,0.0,397.0,12.0,7495.0,10352.0,9271.490256
2,BRAEAR7WZPQGPBZU,9.0,2015-08-18 19:25:22.000,447,Ridge,Yes,Child_care,0,10,0.0,250.0,9.0,5752.0,7309.0,6785.701362
3,WATDZ2ZQ8JPDHCTJ,50.0,2016-03-28 21:53:01.000,23,Abran,Yes,Educational,2,48,0.0,144.0,13.0,5090.0,20814.0,13028.917824
4,JWSEBUKYQPMBZ3RK,7.0,2016-03-29 22:58:53.000,63,Dustyn,Yes,Repair,1,35,1.0,211.0,4.0,2430.0,9261.0,906.553935
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6363,WATE7VE2D62VEKW8,17.0,2016-03-28 19:55:43.000,24,Marquell,Yes,Technology,0,47,0.0,614.0,10.0,8174.0,11266.0,10277.520192
6364,SHOEF9G8Z4ZXF6WE,21.0,2015-02-11 15:09:26.000,55,Theodore,Yes,Child_care,0,35,0.0,269.0,5.0,3564.0,4920.0,4501.837200
6365,PBXEB9ZQ7HHCFXYG,36.0,2015-11-19 17:29:21.000,358,Galen,No,Repair,3,29,0.0,283.0,3.0,5303.0,14614.0,10218.878775
6366,NKCEAGXHRYTNTMG7,27.0,2015-12-08 04:19:33.000,452,Posey,Yes,Repair,0,8,0.0,267.0,3.0,4334.0,5849.0,5359.493997
6367,CAGE53FSAFWZRHFF,11.0,2016-01-20 19:45:35.000,58,Cutler,Yes,Technology,0,94,0.0,614.0,7.0,3975.0,5383.0,5220.013568

In [8]:
 df1.isnull().sum()

Product_id            0
Stall_no              5
instock_date          0
Market_Category       0
Customer_name       211
Loyalty_customer      0
Product_Category      0
Grade                 0
Demand                0
Discount_avail       38
charges_1           198
charges_2 (%)       205
Minimum_price        38
Maximum_price       343
Selling_Price        41
dtype: int64

In [19]:
df1[df1['Selling_Price'].isnull()&df1['Minimum_price'].isnull()&df1['Maximum_price']].sum()

Product_id          0.0
Stall_no            0.0
instock_date        0.0
Market_Category     0.0
Customer_name       0.0
Loyalty_customer    0.0
Product_Category    0.0
Grade               0.0
Demand              0.0
Discount_avail      0.0
charges_1           0.0
charges_2 (%)       0.0
Minimum_price       0.0
Maximum_price       0.0
Selling_Price       0.0
dtype: float64

In [22]:
df1[df1['Selling_Price'].isnull()&df1['Minimum_price'].isnull()]

Empty DataFrame
Columns: [Product_id, Stall_no, instock_date, Market_Category, Customer_name, Loyalty_customer, Product_Category, Grade, Demand, Discount_avail, charges_1, charges_2 (%), Minimum_price, Maximum_price, Selling_Price]
Index: []

In [16]:
df1[]

SyntaxError: invalid syntax (<ipython-input-16-b8d13dc3286a>, line 1)